

{% if add_server is defined %}
{% set count = 1 %}
{% set i = 0 %}
{% for i in range(add_server|length) %}
{% if add_server[i-1].server is defined and add_server[i].server == add_server[i-1].server %}
{% set count = count+1 %}
{% else %}
add server {{ add_server[i].server }} {{ add_server[i].server_ip }}
{% set count = 1 %}
{% endif %}

{% if "disable-addserver" in add_server[i] %}
disable server {{ add_server[i].server }}

{% endif %}
{% endfor %}
{% endif %}

{% if add_service is defined %}
{% for service_group in add_service %}
add serviceGroup {{ service_group.group_name }} {{ service_group.group_protocol }} -cacheType TRANSPARENT -maxClient 0 -maxReq 0 -cip DISABLED -usip NO -useproxyport YES -cltTimeout 180 -svrTimeout 360 -CKA NO -TCPB NO -CMP YES
{% endfor %}
{% endif %}

{% if add_service is defined %}
{% for service_group in add_service %}
{% if service_group.member_group is defined %}
{% for membro in service_group.member_group %}
bind serviceGroup {{ service_group.group_name }} {{ membro.member_name }} {{ membro.member_port }}{% if "disable-addservice" in membro %} -state DISABLED {% endif %}

{% endfor %}
{% endif %}
{% endfor %}
{% endif %}


{% if add_virtual_server is defined %}
{% for virtual_server in add_virtual_server %}
{% for member in virtual_server.group_port %}
{% if virtual_server.vs_prefix == "LB_VS" %}
add lb vserver {{ virtual_server.virtual_server_name }}_{{ member.protocol_virtual }}_{{ member.port_virtual }} {{ member.protocol_virtual }} {{ virtual_server.virtual_server_ip }} {{ member.port_virtual }} -persistenceType RULE -timeout 30 -lbMethod ROUNDROBIN -cookieName JSESSIONID -rule "http.req.cookie.VALUE( \"JSESSIONID\" )" -resRule "http.res.Set_cookie.cookie( \"JSESSIONID\" ).VALUE( \"JSESSIONID\" )" -cltTimeout 180
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if add_virtual_server is defined %}
{% for virtual_server in add_virtual_server %}
{% for member in virtual_server.group_port %}
{% if virtual_server.vs_prefix == "LB_VS" %}
bind lb vserver {{ virtual_server.virtual_server_name }}_{{ member.protocol_virtual }}_{{ member.port_virtual }}{% if member.virtual_group_name is defined %} {{ member.virtual_group_name }}_{{ member.protocol_virtual }}_{{ member.port_virtual }} {% endif %}

{% endif %}
{% endfor %}
{% endfor %}
{% endif %}


{% if add_virtual_server is defined %}
{% for virtual_server in add_virtual_server %}
{% for member in virtual_server.group_port %}
{% if virtual_server.vs_prefix == "CS_VS" %}
add cs vserver {{ virtual_server.virtual_server_name }}_{{ member.protocol_virtual }}_{{ member.port_virtual }} {{ member.protocol_virtual }} {{ virtual_server.virtual_server_ip }} {{ member.port_virtual }} -cltTimeout 180
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if add_virtual_server is defined %}
{% for virtual_server in add_virtual_server %}
{% for member in virtual_server.group_port %}
{% if virtual_server.vs_prefix == "CS_VS" %}
add cs action {{ virtual_server.virtual_server_name }} -targetLBVserver {{ virtual_server.virtual_server_name }}_{{ member.protocol_virtual }}_{{ member.port_virtual }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if add_virtual_server is defined %}
{% for virtual_server in add_virtual_server %}
{% for member in virtual_server.group_port %}
{% if virtual_server.vs_prefix == "CS_VS" %}
add cs policy {{ virtual_server.virtual_server_name }} -rule "HTTP.REQ.URL.CONTAINS(\"/sed-gestao-pix-api/v3\")" -action {{ virtual_server.virtual_server_name }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if add_virtual_server is defined %}
{% for virtual_server in add_virtual_server %}
{% for member in virtual_server.group_port %}
{% if virtual_server.vs_prefix == "CS_VS" %}
bind cs vserver {{ virtual_server.virtual_server_name }}_{{ member.protocol_virtual }}_{{ member.port_virtual }} -policyName {{ virtual_server.virtual_server_name }} -priority 1770
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}