provider;instancia;particao;name_service;vip_content_switching;porta_vip;protocol_cs;lb_method;persistencetype;persistency_timeout;cookie_lb;protocol_sg;monitor_type;name_server;ip_server;portas_servers;member_state;usar_client_ip;nome_certificado;maxclient;allow_empty_pool;prioridade_policy_bind;name_default_lb_vs;controle_contexto;contexto;rule_cs
{% for virtual_server in add_virtual_server %}
{% if virtual_server.vs_prefix == "CS_VS" %}
{% for member in virtual_server.group_port %}
{% if member.template_http is defined %}
{% for template in http_template %}
{% if member.template_http == template.http_name%}
{% if template.url_switching is defined %}
{% for switches in template.url_switching %}
netscaler;10.22.198.135;;{{ virtual_server.virtual_server_name }};{{ virtual_server.virtual_server_ip }};{{ member.port_virtual }};{{ member.protocol_virtual }};ROUNDROBIN;{% if member.persist_type is defined %}{% if member.persist_type == "source-ip" %}SOURCEIP;{% elif member.persist_type == "ssl-sid" %}SSLSESSION;{% elif member.persist_type == "cookie" %}RULE;{% endif %}{% if "_10" in member.persist_name %}10;{% elif "_20" in member.persist_name %}20;{% elif "_30" in member.persist_name %}30;{% endif %}{% if "cookie" in member.persist_name %}JSESSIONID;{% endif %}{% else %}NONE;0;;{% endif %}{% for service_group in add_service %}{% if service_group.group_name == switches.template_sg %}{{ service_group.group_protocol }},{% endif %}{% endfor %};CUSTOM_TCP_PLATAFORMA;{% for service_group in add_service %}{% if service_group.group_name == switches.template_sg %}{% for membro in service_group.member_group %}{{ membro.member_name }},{% endfor %}{% endif %}{% endfor %};{% for service_group in add_service %}{% if service_group.group_name == switches.template_sg %}{% for membro in service_group.member_group %}{% for server in add_server %}{% if membro.member_name == server.server%}{{ server.server_ip }},{% endif %}{% endfor %}{% endfor %}{% endif %}{% endfor %};{% for service_group in add_service %}{% if service_group.group_name == switches.template_sg %}{% for membro in service_group.member_group %}{{ membro.member_port }},{% endfor %}{% endif %}{% endfor %};{% for service_group in add_service %}{% if service_group.group_name == switches.template_sg %}{% for membro in service_group.member_group %}{% if "disable-addservice" in membro %}DISABLE,{% else %}ENABLE,{% endif %}{% endfor %}{% endif %}{% endfor %};NO;{% for client_ssl in ssl_template %}{% if member.ssl_name is defined %}{% if client_ssl.ssl_name == member.ssl_name%}{{ member.ssl_name }}{% endif %}{% endif %}{% endfor %};0;true;90;;inicio;contslashinic{{ switches.rule }}contslashfin,;{{ switches.rule }},;;,
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
