provider;instancia;particao;name_service;vip_load_balancing;porta_vip;protocol_vs;lb_method;persistencetype;persistency_timeout;cookie_lb;protocol_sg;monitor_type;name_server;ip_server;portas_servers;member_state;usar_client_ip;nome_certificado;maxclient;allow_empty_pool
{% for virtual_server in add_virtual_server %}
{% if virtual_server.vs_prefix == "LB_VS" %}
{% for member in virtual_server.group_port %}
{% if member.virtual_group_name is defined %}
netscaler;10.22.198.135;;{{ virtual_server.virtual_server_name }};{{ virtual_server.virtual_server_ip }};{{ member.port_virtual }};{{ member.protocol_virtual }};ROUNDROBIN;{% if member.persist_type is defined %}{% if member.persist_type == "source-ip" %}SOURCEIP;{% elif member.persist_type == "ssl-sid" %}SSLSESSION;{% elif member.persist_type == "cookie" %}RULE;{% endif %}{% if "_10" in member.persist_name %}10;{% elif "_20" in member.persist_name %}20;{% elif "_30" in member.persist_name %}30;{% endif %}{% if "cookie" in member.persist_name %}JSESSIONID;{% endif %};{% else %}NONE;0;;{% endif %}{% for service_group in add_service %}{% if service_group.group_name == member.virtual_group_name%}{{ service_group.group_protocol }}{% endif %}{% endfor %};CUSTOM_TCP_PLATAFORMA;{% for service_group in add_service %}{% if service_group.group_name == member.virtual_group_name%}{% if service_group.member_group is defined %}{% for membro in service_group.member_group %}{{ membro.member_name }},{% endfor %}{% endif %}{% endif %}{% endfor %};{% for service_group in add_service %}{% if service_group.group_name == member.virtual_group_name%}{% if service_group.member_group is defined %}{% for membro in service_group.member_group %}{% for server in add_server %}{% if membro.member_name == server.server%}{{ server.server_ip }},{% endif %}{% endfor %}{% endfor %}{% endif %}{% endif %}{% endfor %};{% for service_group in add_service %}{% if service_group.group_name == member.virtual_group_name%}{% if service_group.member_group is defined %}{% for membro in service_group.member_group %}{{ membro.member_port }},{% endfor %}{% endif %}{% endif %}{% endfor %};{% for service_group in add_service %}{% if service_group.group_name == member.virtual_group_name%}{% if service_group.member_group is defined %}{% for membro in service_group.member_group %}{% if "disable-addservice" in membro %}DISABLE,{% else %}ENABLE,{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %};NO;{% for client_ssl in ssl_template %}{% if member.ssl_name is defined %}{% if client_ssl.ssl_name == member.ssl_name%}{{ member.ssl_name }}{% endif %}{% endif %}{% endfor %};0;true
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
